

.award-container {
    padding: 20px;
    width: 768px;
    margin: 0 auto;
}
.news__award__year {
    background: #eee;
    display: flex;
    flex-flow: row nowrap;
    padding: 20px 20px 0 20px;
    margin: 0 -50px;
    
}
.news__award__year:nth-child(n+4) {
    padding-top:0;
}
.award-headline {
    min-width: 80px;
    color: var(--theme-primary);
    font-weight: 700;
}

.award-list {
    border-left: 1px solid var(--theme-primary);
    padding: 20px;
    position: relative;
    width: 100%;
}
.award-list summary::marker {
    display: none;
}
.award-list summary::-webkit-details-marker {
    display: none;
}

.news__award__year .award-list::before {
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    transform: translate(-50%, -50%);
    background: var(--theme-primary);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.award-item {
    margin-top: 20px;
}
.award-item:first-child {
    margin-top: 0;
}
.award-subject {
    font-size: 1.3rem;
    color: var(--theme-dark);
    font-weight: 700;
    position: relative;
    padding-right: 25px;
}

.award-subject::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 24px;
    height: 24px;
    background: url(../images/icon-arrow-down.svg) no-repeat 0 0 / 100% 100%;
}
/* details 요소의 속성 값이 open일 경우 summary 요소의 배경이미지(접을 수 있음을 나타내는 배경이미지) 변경 */
details[open] .award-subject::after {
    background-image: url(../images/icon-arrow-up.svg);
}

/* summary 내 수상 "월"을 위한 마크업 (b 요소) */
.award-subject b {
    font-size: 12px;
    display: inline-block;
    width: 25px;
    font-weight: 400;
}
  
/* 수상내역 썸네일 이미지 (figure 요소) */
.award-thumbnail {
    margin-left: 25px;
    font-size: 12px;
    font-weight: 400;
  }
  .award-thumbnail figcaption {
    margin-top: 10px;
  }
  
  /* 수상내역 텍스트 (p 요소 - 내부에 span 요소와 time 요소가 포함 됨) */
  .award-item p {
    margin-left: 25px;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  /* 수상날짜 (time 요소) */
  .award-date {
    color: #5b6aa9;
    font-weight: 700;
    font-size: 11px;
  }
  


/* .award-thumbnail {
    margin: 20px 0 0 30px;
    line-height: 1.5;
}
.award-date {
    color: var(--theme-primary);
} */

/* .round-bar {
    display: inline-block;
    margin-left: 30px;
    font-weight: 700;
} */

@media all and (max-width:768px) {
    .award-container {
        width: 100%;
    }
    .news__award__year {
        margin:0;
    }
}