/* default layout */
body {
    display: flex;
    flex-flow: row wrap;
}

.app-header-container,
.app-main,
.app-footer-container {
    width: 100%;
}

/* header */
/* default header */
.app-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* default logo */
.brand {
    width: 176px;
    margin: 0;
    padding: 18px;
    font-size: 14px;
}
.brand a {
    display: block;
    font-size: 14px;
}
/* 공통 푸터 */
.footer-container {
    background: var(--theme-dark);
    color: var(--theme-disable);
    width: 100%;

}
.app-footer {
    font-size: 1.2rem;
    position: relative;
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.app-footer > *{
    width: 100%;
}
.guide-list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    order: -1;
    padding: 15px 0;
}
.guide-list li {
    margin: 0 5px;
}
.guide-list li a{
    display: block;
    padding: 5px;
}
.footer-brand {
    padding: 20px 0 10px;
}

.address {
    font-style: normal;
    padding: 0 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.address span{
    margin: 10px 5px;
}
.copyright {
    padding-bottom: 0 20px;
    display: block;
    margin: 15px 0 30px;
    font-size: 1.1rem;
}

/* 공통 버튼 */
.button-goToTop {
    background-color: transparent;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border:0;
    padding: 0;
}
@media all and (max-width:767px) {
    /* mobile header */

    /* mobile button */
    .is-open-menu {
        width: 50px;
        height: 50px;
        padding: 18px 16px;
        background:transparent;

    }
    .is-open-menu .ir {
        display: inline-block;
        width: 100%;
        height: 100%;
        background:  url(../images/button-navigation.svg) no-repeat 50% 50%;
    }
    /* mobile nav */
    .app-navigation {
        backdrop-filter: blur(5px);
        position: fixed;
        top:0;
        left:0;
        right: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(105vw);
        transition: all 0.2s;
        padding-top: 66px;
        background: hsla(225, 57%, 10%, 0.9);
        color: #fefefe;
    }
    .app-navigation li {
        border-bottom: 1px solid hsla(225, 57%, 30%, 0.5);
    }
    .app-navigation li:last-child {
        border-bottom: 0;
    }
    .app-navigation a {
    display: block;
    padding: 12px 22px;
    transition: all 0.4s ease;
    }

    .app-navigation a:hover,
    .app-navigation a:focus {
      background: #2e437c;
    }
    .is--active .app-navigation {
        transform: none;
    }
    .is-close-menu {
        position: absolute;
        top:0;
        right:0;
        width: 50px;
        height: 50px;
        background: transparent;
        color: #fefefe;
        font-size: 3rem;
    }
    /* mobile footer  */
    .app-footer {
        width: 100%;
    }
    .guide-list {
        border-bottom: 1px solid #fff;
    }
    .address span {
        display: block;
        margin: 10px 0;
    }
    /* button to top */
    .button-goToTop {
        bottom: 15px;
        right: 15px;
    }
}

@media all and (min-width:768px) {
    /* desktop header */
    .app-header-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .app-header {
        width: 768px;
    }
    .is-open-menu,
    .is-close-menu {
        display: none;
    }
    /* nav */
    .app-navigation ul {
        display: flex;
        flex-flow: row nowrap;
    }
    .app-navigation li{
        margin-left: 8px;
        color: #24388d;
    }
    /* desktop footer */
    .footer-container {
        position: relative;
        
    }
    .footer-container::before {
        content: "";
        position: absolute;
        top: 52px;
        left: 0; 
        width: 100%;
        display: block;
        border-bottom: 1px solid #878787;
    }
    
}